<main>
    <section class="login-container">
        <div class="breadcrumb">
            <div class="breadcrumb-path">
                <a href="">
                    <span>Tienda</span>
                    <i class="material-icons">chevron_right</i>
                </a>
                <a routerLink="/dashboard">
                    <span>Ingresar</span>
                </a>
            </div>
            <div class="breadcrumb-espot">
                <a href="">
                    <i class="material-icons">local_shipping</i>
                    <span>Envío gratis desde $900 MXN en CDMX y Zona Metropolitana</span>
                </a>
            </div>
        </div>
        <div class="login-block">
            <div class="login-switch">
                <button class="active">ENTRAR</button>
                <button>CREAR CUENTA</button>
            </div>
            <div class="login-component">
                <form class="login-form">
                    <label class="input-global">
                        <span>Email *</span>
                        <input type="email" placeholder="email" maxlength="44" minlength="9" value="">
                    </label>
                    <label class="input-global">
                        <span>Contraseña *</span>
                        <input type="password" placeholder="contraseña" maxlength="33" minlength="9" value="">
                    </label>
                    <div class="login-password">
                        <div>
                            <i class="material-icons">visibility_off</i>
                            <span>ocultar</span>
                        </div>
                        <a href="">olvidé mi contraseña</a>
                    </div>
                    <div class="login-submit">
                        <button type="submit">ENTRAR</button>
                    </div>
                </form>
            </div>
        </div>
    </section>


</main>