<main>
  <div class="breadcrumb">
    <div class="breadcrumb-path">
      <a href="">
        <span>Tienda</span>
        <i class="material-icons">chevron_right</i>
      </a>
      <a href="">
        <span>Términos y condiciones</span>
      </a>
    </div>
    <div class="breadcrumb-espot">
      <a href="">
        <i class="material-icons">local_shipping</i>
        <span>Envío gratis desde $900 MXN en CDMX y Zona Metropolitana</span>
      </a>
    </div>
  </div>

  <div class="sectionContainer">
    <div class="sectionTitle upper">
      <h2>Términos y Condiciones</h2>
    </div>
    <div class="subtitle upper">
      <h3>Reclamación de Material</h3>
    </div>
    <div class="termContent">
      <p>Toda reclamación de mercancía se deberá canalizar a través de contacto on-line, para ser atendida se debe
        contar con la siguiente información.</p>
      <ol class="letter-list">
        <li>Motivo de la reclamación.</li>
        <li>Descripción de la Incidencia.</li>
        <li>Número de pedido.</li>
        <li>Tipo de Material y cantidad de Piezas</li>
        <li>Fecha de entrega.</li>
        <li>Fotografías (en los casos que se tenga esta evidencia).</li>
        <li>Serán 8 días para realizar la reclamación.</li>
      </ol>
      <p>La empresa analizará y dictaminará si acepta o no la reclamación, en caso de ser aceptada se procederá a
        realizar cambio; si procede la reclamación se deberá dar respuesta el mismo día o máximo al día siguiente.</p>
      <p>En caso de que no se acepte la reclamación se debe justificar porque.</p>
      <p>Dependiendo de las condiciones del material y de su existencia en almacén se definirá el tiempo de entrega de
        la mercancía reclamada.</p>
      <p>En caso de rechazar la reclamación se canaliza a ventas a fin de que se de una resolución del tema.</p>
    </div>
    <div class="subtitle upper">
      <h3>Devolución de Mercancía</h3>
    </div>
    <div class="termContent">
      <p>Revisar el material una ves recibido ya que una ves instalado no se aceptan devoluciones.</p>
      <p>A continuación se describen los caso en los que procede una devolución:</p>
      <ul>
        <li>El cliente no quiere el material o cancela el pedido</li>
        <li>El cliente desea cambiar el material.</li>
        <li>Entrega de material no solicitado.</li>
        <li>Se entregó material de más.</li>
        <li>Producto defectuoso o en mal estado.</li>
        <li>Solo aplica para productos de categoría de línea en óptimas condiciones.</li>
      </ul>
      <p>La mercancía devuelta deberá estar en buen estado y contar con su empaque original y se deberá realizar en un
        máximo de 2 semanas. Transcurrido este tiempo ya no procederá el cambio o devolución.</p>
      <p>Si tiene algún reclamo de material ya instalado se deberá hacer directo con el fabricante.</p>
      <p>Para solicitar una devolución deberá contactar a servicio On -line (Tels. 55 69 65 48 61 y 55 40 00 13 19)
        teniendo a la mano el numero de pedido y la clave y descripción del producto a devolver para levantar la
        solicitud. Ahí mismo le darán las indicaciones del proceso a seguir en caso de que aplique la devolución.</p>
      <p>El tiempo de programación de las devoluciones que impliquen recoger la mercancía con el cliente será el mismo
        que el de las programación de notas se entrega y estas están en función del destino (local y foráneo).</p>
      <p>De realizarse la recolección con una mensajería asignada por Llano de la Torre y no proceder, se le notificará
        al cliente y el producto quedará a su disposición para ser recogido en el CEDIS Vallejo. El producto podrá ser
        resguardado un máximo de 10 dias hábiles.</p>
      <p>Una vez recibida la mercancía, se realizará una revisión de la misma y si todo esta en perfectas condiciones se
        procederá al reembolso o cambio de producto.</p>
      <p>Si se solicita la devolución de una compra parcializada, la aclaración será directamente con la institución
        Bancaria.</p>
    </div>
    <div class="subtitle upper">
      <h3>Garantía</h3>
    </div>
    <div class="termContent">
      <p>Pasados los 60 días de la compra las garantías aplican directamente con el proveedor.</p>
    </div>
    <div class="subtitle upper">
      <h3>Reembolsos</h3>
    </div>
    <div class="termContent">
      <p>Una vez recibida y aprobada la devolución, el reembolso se procesara un tiempo de 5 a 10 dias a través de
        depósito a la cuenta de cheques asignada por el cliente ( para lo cual se solicitar una copia de la caratula de
        su estado de cuenta bancario)</p>
      <p>Solo aplica para la tienda online en www.llanodelatorre.com.mx</p>
      <p>En caso de que la devolución tuvo como origen una compra a meses sin intereses, la reclamación es directamente
        con tu institución bancaria.</p>
    </div>
    <div class="subtitle upper">
      <h3>Excepciones</h3>
    </div>
    <div class="termContent">
      <p>No aplica para los siguientes productos y/o servicios:</p>
      <ul>
        <li>Fletes por entrega a domicilio</li>
        <li>Servicios de instalación</li>
      </ul>
    </div>
  </div>

</main>
