<main>
  <div class="breadcrumb">
    <div class="breadcrumb-path">
      <a href="">
        <span>Tienda</span>
        <i class="material-icons">chevron_right</i>
      </a>
      <a href="">
        <span>Envíos y devoluciones</span>
      </a>
    </div>
    <div class="breadcrumb-espot">
      <a href="">
        <i class="material-icons">local_shipping</i>
        <span>Envío gratis desde $900 MXN en CDMX y Zona Metropolitana</span>
      </a>
    </div>
  </div>

  <div class="sectionContainer">
    <div class="sectionTitle upper">
      <h2>Políticas embarques</h2>
    </div>
    <div class="termContent">
      <p>Estas políticas solo aplican para la tienda On Line www.llanodelatorre.com.mx</p>
      <p>Para programar la entrega de su pedido este debe estar pagado al 100%</p>
      <p>Entregas gratuitas en CDMX y Zona Metropolitana en pedidos mayores a $900.00 pesos.</p>
      <p>Para entregas fuera de CDMX y Zona Metropolitana se cotizará por separado a través de contacto On-line (Tels.
        55 69 65 48 61 y 55 40 00 13) para determinar el momento de envío de acuerdo con las características de peso y
        volumen y destino.</p>
      <p>Las entregas en CDMX y Zona Metropolitana serán en 48 horas.</p>
      <p>Para pedidos fuera de la CDMX y Área Metropolitana el compromiso de entrega es a 8 días.</p>
      <p>Los destinos de entrega fuera de la cobertura local tendrán un costo por maniobras según estados donde se tenga
        dicha cobertura, conforme a la tabla establecida que aparece en sistema (los fletes foráneos serán pagados por
        el cliente).</p>
      <p>La entrega realizada a estados fuera de la cobertura con la flotilla de la empresa será por una línea de
        transporte.</p>
    </div>
    <div class="subtitle upper">
      <h3>Condiciones de entrega</h3>
    </div>
    <div class="termContent">
      <div class="letter-list">
        <ol>
          <li>La entrega se realizará en planta baja dentro del domicilio.</li>
          <li>No se entregará en segundos pisos, sotanos, patio interior o cuartos interiores, ni callejones con
            escalinatas.</li>
          <li>Deberá apartar el espacio en la calle para el estacionamiento de la unidad de reparto (dos cajones para
            auto compacto). En dado caso de requerirse.</li>
          <li>En obras de construcción y lugares foráneos sin excepción alguna, se entregará a pie de camión, (esta
            medida de seguridad es para no exponer la integridad física de nuestro personal).</li>
          <li>El cliente o la persona encargada de recibir deberá revisar que el material se le entregue en buen estado,
            ya que no se admitirá reclamaciones posteriores solo en caso de artículos que impliquen un mal
            funcionamiento</li>
          <li>Nuestro personal no está autorizado para realizar maniobras especiales como volado de mercancía, toda
            maniobra que implique un riesgo al trabajador y/o a la mercancía.</li>
          <li>En ningún caso se incluye la instalación del producto.</li>
          <li>El servicio de entrega en zonas de acceso complicado deberá ser consultado a través de contacto on-line
            (Tels. 55 69 65 48 61 y 55 40 00 13 19).</li>
        </ol>
      </div>
    </div>
    <div class="subtitle upper">
      <h3>Cambio de forma de entrega</h3>
    </div>
    <div class="termContent">
      <ul>
        <li>Si el cliente quiere recoger su material se deberá llamar a contacto On-line (Tels. 55 69 65 48 61 y 55 40
          00 13 19) para que proceda la solicitud.</li>
      </ul>
    </div>
    <div class="subtitle upper">
      <h3>Cambio de fecha de entrega</h3>
    </div>
    <div class="termContent">
      <ul>
        <li>Si el cliente quiere recoger su material se deberá llamar a contacto On-line (Tels. 55 69 65 48 61 y 55 40
          00 13 19) para que proceda la solicitud.</li>
      </ul>
    </div>
    <div class="subtitle upper">
      <h3>Reprogramación de entregas</h3>
    </div>
    <div class="termContent">
      <ul>
        <li>Toda orden de embarque que no se haya entregado por cualquier situación deberá ser reprogramada a más tardar
          a las 48 horas y/o cuando el cliente lo solicite.</li>
        <li>Después de los dos intentos, el cliente tendrá que recoger su mercancía en nuestro Centro de Distribución o
          comunicarse a contacto On-Line (Tels. 55 69 65 48 61 y 55 40 00 13 19) para acordar la entrega y costo de la
          misma.</li>
      </ul>
    </div>
  </div>



</main>
