<main>
    <div class="breadcrumb">
        <div class="breadcrumb-path">
          <a href="">
            <span>Tienda</span>
            <i class="material-icons">chevron_right</i>
          </a>
          <a href="">
            <span>Contáctanos</span>
          </a>
        </div>
        <div class="breadcrumb-espot">
          <a href="">
            <i class="material-icons">local_shipping</i>
            <span>Envío gratis desde $900 MXN en CDMX y Zona Metropolitana</span>
          </a>
        </div>
      </div>

      <div class="contact-page">
          <header class="contact-header">
            <h2>¡Ponte en Contacto!</h2>
          </header>
          <div class="contact-container">
            <form class="contact-form">
                <h3>Contáctanos</h3>
                <label class="form-group">
                    <input class="" type="text" placeholder="*Nombre" value="">
                </label>
                <label class="form-group">
                    <input class="" type="email" placeholder="*e-mail" value="">
                </label>
                <label class="form-group">
                    <textarea class="" type="" placeholder="Comentarios:"></textarea>
                </label>
                <div class="contact-form-button">
                    <button class="disabled" disabled="">Enviar</button>
                </div>
            </form>
            <div class="contact-espot">
               <div class="contact-image">
                <img src="https://s3.amazonaws.com/llanomx.wcaas.media/espots/footer-contacto/espot-260x260.png" alt="Contáctanos">
               </div>
               <div class="contact-phone-list">
                <h3>Teléfonos:</h3>
                <ul><li>5540001319</li><li>5569654861</li><li>5556059467</li></ul>
               </div>
               <hr>
               <div class="contact-info">
                <div class="contact-more">
                    <h3>Desde México</h3>
                    <p>Estamos a tu disposición de lunes a viernes de 9:00 am a 7:30 pm Sábado de 9:00 am a 6:00 pm (tiempo del centro)</p>
                    <p>Soporte: 55 69 65 48 61</p>
                    <p>E:mail contacto@llanodelatorre.com.mx</p>
                </div>
               </div> 
            </div>
          </div>
      </div>
</main>