label {
    display: inline-block;
}
hr {
    width: 100%;
    display: block;
    margin: 1.5rem 0;
    border: .5px solid var(--light2);
    margin: 1rem 0;
    /* color: inherit; */
    /* background-color: currentColor; */
    /* border: 0; */
    /* opacity: .25; */
}
input, select, textarea {
    width: 100%;
    display: block;
    font-weight: 300;
    padding: 1rem;
    box-shadow: none;
    color: var(--black);
    border: 1px solid var(--light1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
li, ol, ul {
    list-style-type: none;
}
input[type=email] {
    text-transform: lowercase;
}
.contact-page {
    width: 100%;
    max-width: 1260px;
    margin: auto;
    padding: 1rem;
}
.contact-header {
    z-index: 1;
    width: 100%;
}
.contact-container, .contact-espot {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.contact-header h2 {
    font-family: "MuseoSans-5";
    width: 100%;
    margin: 1rem 0 2rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}
.contact-form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
}
.contact-form h3 {
    font-family: "MuseoSans-7";
    color: var(--red2);
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.contact-form label {
    font-family: "MuseoSans-3";
    width: 100%;
    margin-bottom: 1rem;
}
.contact-form button.disabled, .contact-form button.disabled:hover {
    color: var(--white);
    background-color: var(--grey);
}
.contact-form button {
    font-family: "MuseoSans-5";
    width: 100%;
    padding: 1rem 2rem;
    color: var(--white);
    background-color: var(--black);
    border-radius: .3rem;
}
.disabled {
    color: var(--dark);
    background-color: var(--light2);
    opacity: .8;
    cursor: not-allowed;
}
.contact-espot {
    margin-bottom: 1rem;
}
.contact-image {
    width: 100%;
    margin-bottom: 1rem;
}
.contact-info, .contact-phone-list {
    width: 100%;
}
.contact-espot h3 {
    font-family: "MuseoSans-7";
    color: var(--red2);
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.contact-phone-list ul{
    padding: 0;
    margin: 0;
}
.contact-phone-list li {
    font-family: "MuseoSans-5";
    margin-bottom: .5rem;
    height: 19px;
}
.contact-more {
    width: 100%;
}
.contact-espot h3 {
    color: var(--red2);
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.contact-more p {
    font-family: "MuseoSans-5";
    margin-bottom: .5rem;
}
@media screen and (min-width: 760px){
.contact-header h2 {
    font-size: 2rem;
    text-align: left;
}
.contact-form {
    width: 48%;
}
.contact-espot {
    width: 48%;
}
.contact-image {
    width: 48%;
}
.contact-phone-list {
    width: 48%;
}

}