<main>
    <div class="breadcrumb">
        <div class="breadcrumb-path">
            <a href="">
                <span>Tienda</span>
                <i class="material-icons">chevron_right</i>
            </a>
            <a routerLink="/category/accesorios-para-bano">
                <span>Accesorios para baño</span>
            </a>
        </div>
        <div class="breadcrumb-espot">
            <a href="">
                <i class="material-icons">local_shipping</i>
                <span>Envío gratis desde $900 MXN en CDMX y Zona Metropolitana</span>
            </a>
        </div>
    </div>

        <!-- CAROUSEL PRINCIPAL -->
        <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://s3.amazonaws.com/llanomx.wcaas.media/espots/category-welcome-slider/categorywelcome_griferia_1300x400.png" class="d-block w-100" alt="imagen principal">
              </div>
            </div>
        </div>

</main>