
  /* ---- MOBILE ---- */
  
.newsletter {
    width: 100%;
    background-color: var(--light2);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .newsletter-container {
    max-width: 1260px;
    margin: auto;
    justify-content: space-between;
  }
  
  .newsletter-container,
  .newsletter-form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  .newsletter-form {
    justify-content: center;
    padding: 1rem;
  }
  
  .newsletter-form p {
    width: 100%;
    display: inline-block;
    font-size: 1.15rem;
    font-weight: 700;
    color: var(--black);
    text-align: center;
    padding: 0 2rem .5rem;
  }
  
  .newsletter-form div {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--light1);
  } 
  
  .newsletter-form div label {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
  
  .newsletter-form div label input {
    
    color: var(--dark);
    border: none;
    padding: 1rem 1rem 1rem 3.6rem;
  }
  
  .newsletter-form div label i {
    position: absolute;
    font-size: 2rem;
    top: .6rem;
    left: 1rem;
    color: var(--light1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .newsletter-form div aside,
  .newsletter-form div button {
    font-size: 3rem;
    padding: 0 1rem;
    line-height: 0;
    background-color: var(--white);
  }
  
  .newsletter-form div button {
    color: var(--dark);
  }
  
  /* banner-single */
.banner-single {
    width: 100%;
    max-width: 1260px;
    display: block;
    margin: auto auto 1rem;
    line-height: 0;
  }
  
  .banner-single a {
    width: 100%;
  }

  
/* banner youtube */
.banner-youtube {
    width: 100%;
    max-width: 1260px;
    display: block;
    padding: 0 1rem;
    margin: auto auto 3rem;
  }
  
  .banner-youtube-content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
  }
  
  .banner-youtube-big-image {
    width: 100%;
    margin-bottom: 1rem;
    line-height: 0;
  }
  
  .banner-youtube aside {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: space-between;
  }
  
  .banner-youtube-content a {
    width: 100%;
  }
  
  .banner-youtube-small-image {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .banner-youtube-content a {
    width: 100%;
  }
  
  .banner-youtube-video {
    width: 100%;
    position: relative;
    padding-top: 58%;
  }
  
  .banner-youtube-video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .op-0{
    opacity: 0;
}  

.slider-item {
    margin: 0 .5rem;
}
.slider-item>div, .slider-item a {
  color: var(--black);
  font-size: 1rem;
  padding: .5rem;
  border: 1px solid var(--light2);
  text-align: left;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.slider-item>div picture, .slider-item a picture {
  margin-bottom: .5rem;
  width: 100%;
}
.slider-item>div>div, .slider-item a>div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.slider-item>div>div b, .slider-item a>div b {
  
    color: var(--black);
    font-size: .8rem;
    margin-right: 1rem;
}
.slider-item>div>p, .slider-item a>p {
  
  font-size: .8rem;
  margin: .75rem 0;
}
.bot-container{
  display: none;
}
/* noTIFICATION NEWSLETTER */

/* ---- FIN MOBILE ---- */


  /* TABLET */
@media screen and (min-width: 760px){
    .newsletter-form {
        padding: .5rem;
        flex-flow: row nowrap;
    }
    .newsletter-form p {
        width: 38%;
        text-align: center;
        padding: 0;
    }
    .newsletter-form div {
        width: 50%;
        border: none;
    }
    .slider-item>div>div b, .slider-item a>div b {
      
        font-size: 1rem;
    }
  /* BOT MESSAGE */
.bot-container {
  display: block;
  cursor: pointer;  
  z-index: 5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 10px;
  background-color: var(--white);
  width: auto;
  /* height: 30px; */
  height: 8vh;
  box-sizing: border-box;
  border-width: 1px 1px 0px .5px;
  border-style: solid;
  border-color: var(--grey);
}
.bot-container-active{
height: 30px;
}
.bot-footer-container .conect{
margin-right: .5rem;
margin-left: .5rem;
font-family: Verdana, Geneva, sans-serif;
font-size: 12px;
color: var(--white);
font-weight: bold;
}
.bot-footer-container .conect-text{
margin-left: .5rem;
font-family: Verdana, Geneva, sans-serif;
font-size: 12px;
color: var(--white);
font-weight: normal;
}
.bot-footer-container .line{
color: var(--white);
font-weight: bold;
}
.bot-message {
font-size: 15px;
color: var(--white);
font-weight: bold;
margin-left: 10px;
color: var(--grey);
}
.bot-chat-time {
width: 30%;
height: 30%;
display: flex;
justify-content: center;
align-items: center;
}
.bot-footer-container {
background-color: #505050;
border-color: #808080;
color: #e59341;
display: flex;
justify-content: center;
align-items: center;
height: 30px;
position: relative;
padding-left: 8px;
padding-right: 8px;
}
.chatbox-input {
width: 95%;
height: 70%;
border-radius: 10px;
padding-left: 3%;
color: grey;
font-weight: bold;
}
.meshim_widget_widgets_IconFont {
font-family: zopim, "Segoe UI Symbol", "Arial Unicode MS", "Lucida Sans Unicode", sans-serif;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
}
.box-message{
background-color: #e59341;
color: var(--white);
}
.box-message .box-title{
padding: 8px 8px 0px 8px;
}
.box-message-off{
display: none;
}
.box-message p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 14px;
font-weight: bold;
white-space: pre-wrap
}
.box-message span{
text-shadow: 0px -1px 0px var(--grey);
border-radius: 5px;
padding: 2px 4px 2px;
}
.box-message span:hover {
background: rgba(0, 0, 0, 0.1);
}
.box-message .click-text{
font-size: 12px;
font-style: italic;
white-space: pre-wrap;
padding-left: 1.4rem;
padding-bottom: 8px;
}
/* BOT MESSAGE */
/* NOTIFICATION NEW */

}
/* ---- FIN TABLET ---- */


/* ---- DESKTOP ---- */
@media screen and (min-width: 1024px){
.op-0{
    opacity: .4;
  }
.banner-youtube {
    padding: 0;
}
.banner-youtube-big-image {
    width: 49%;
    margin-bottom: 0;
}
.banner-youtube aside {
    width: 49%;
    margin-bottom: 0;
}
.banner--youtube-small_image {
    margin-bottom: 0;
}
/* BOT MESSAGE */
.bot-container {
  display: block;
  cursor: pointer;  
  z-index: 5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 10px;
  background-color: var(--white);
  width: auto;
  /* height: 30px; */
  height: auto;
  box-sizing: border-box;
  border-width: 1px 1px 0px .5px;
  border-style: solid;
  border-color: var(--grey);
}
.bot-container-active{
height: 30px;
}
.bot-footer-container .conect{
margin-right: .5rem;
margin-left: .5rem;
font-family: Verdana, Geneva, sans-serif;
font-size: 12px;
color: var(--white);
font-weight: bold;
}
.bot-footer-container .conect-text{
margin-left: .5rem;
font-family: Verdana, Geneva, sans-serif;
font-size: 12px;
color: var(--white);
font-weight: normal;
}
.bot-footer-container .line{
color: var(--white);
font-weight: bold;
}
.bot-message {
font-size: 15px;
color: var(--white);
font-weight: bold;
margin-left: 10px;
color: var(--grey);
}
.bot-chat-time {
width: 30%;
height: 30%;
display: flex;
justify-content: center;
align-items: center;
}
.bot-footer-container {
background-color: #505050;
border-color: #808080;
color: #e59341;
display: flex;
justify-content: center;
align-items: center;
height: 30px;
position: relative;
padding-left: 8px;
padding-right: 8px;
}
.chatbox-input {
width: 95%;
height: 70%;
border-radius: 10px;
padding-left: 3%;
color: grey;
font-weight: bold;
}
.meshim_widget_widgets_IconFont {
font-family: zopim, "Segoe UI Symbol", "Arial Unicode MS", "Lucida Sans Unicode", sans-serif;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
}
.box-message{
background-color: #e59341;
color: var(--white);
}
.box-message .box-title{
padding: 8px 8px 0px 8px;
}
.box-message-off{
display: none;
}
.box-message p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 14px;
font-weight: bold;
white-space: pre-wrap
}
.box-message span{
text-shadow: 0px -1px 0px var(--grey);
border-radius: 5px;
padding: 2px 4px 2px;
}
.box-message span:hover {
background: rgba(0, 0, 0, 0.1);
}
.box-message .click-text{
font-size: 12px;
font-style: italic;
white-space: pre-wrap;
padding-left: 1.4rem;
padding-bottom: 8px;
}
/* BOT MESSAGE */


}