<div class="layout-header layout-header-checkout">
  <div class="menu-container">
    <div class="menu-content menu-checkout">
      <div class="menu-content-left">
        <div class="menu-logo is-checkout">
          <a href="/"><img src="/assets/img/logo.svg" alt="Llano de la Torre"></a>
        </div>
      </div>
      <div class="menu-actions">
        <div class="menu-actions-btn menu-actions-user">
          <a class="" routerLink="/dashboard">
            <i class="material-icons">person</i>
          </a>
        </div>
        <div class="menu-actions-btn menu-actions-cart">
          <a routerLink="/cart"><img src="/assets/img/icon-cart.svg" alt="Carrito"><span>1</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="checkout-breadcrumb">
    <div class="checkout-breadcrumb-container">
      <div class="checkout-breadcrumb-step active">
        <div>
          <i class="material-icons">done</i>
        </div>
        <p>Envío</p>
      </div>
      <div class="checkout-breadcrumb-step active">
        <div>
          <i class="material-icons">done</i>
        </div>
        <p>Pago</p>
      </div>
      <div class="checkout-breadcrumb-step active">
        <div>
          <i class="material-icons">done</i>
        </div>
        <p>¡Listo!</p>
      </div>
    </div>
  </div>
</div>

<main>

  <div class="checkout-success">
    <div class="checkout-success-header">
      <h1>¡Gracias por tu compra!</h1>
      <div>
        <p>Número de pedido:</p>
        <b>828344795615</b>
      </div>
    </div>
    <div class="checkout-success-breakdown_offline_alert">
      <div>
        <i class="material-icons-outlined ">info</i>
        <p>Tu orden fue enviada por correo, ubica la siguiente sección e imprime tu ticket de pago.</p>
      </div>
      <div><b>Método de facturación:</b>
        <p>Pago en OXXO</p>
        <p>Para finalizar su proceso de compra:</p>
        <div>Descarga tu recibo de pago</div>
      </div>
    </div>
    <div class="checkout-success-content">
      <div class="checkout-success-payment">
        <div class="checkout-success-title">
          <h2>Información de pago</h2>
        </div>
        <div class="checkout-success-breakdown">
          <div class="checkout-success-breakdown_method"><img alt="Pago en OXXO"
              src="/assets/img/payment-oxxo.svg">
            <p>Pago en OXXO</p><b></b>
          </div>
          <div class="checkout-success-breakdown_offline_alert"><i class="material-icons-outlined">alarm</i>
            <p>Recuerda realizar tu pago en las próximas 72 horas en la sucursal Oxxo de tu preferencia.</p>
          </div>
          <div class="checkout-success-breakdown_totals">
            <div>
              <p>Subtotal:</p>
              <p> $1,344.33 </p>
            </div>
            <div>
              <p>Envío:</p>
              <p>Envío Gratis</p>
            </div>
            <div>
              <p>Total:</p>
              <p class="color-red">$1,344.33 <span>IVA Incluido</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="checkout-success-shipping">
        <div class="checkout-success-title">
          <h2>Dirección de envío</h2>
        </div>
        <div class="checkout-success-address">
          <p>21212sda, Exterior: 121, Interior: 212, Colonia: Los Alpes,Álvaro Obregón,Ref: s</p>
          <div><i class="material-icons ">local_shipping</i><b>Entrega de 5 a 10 días por ESTAFETA</b></div>
          <div>
            <p>Enviaremos actualizaciones de tu pedido a:</p><b>adsa@skdak.com</b>
          </div>
        </div>
      </div>
      <div class="checkout-success-summary">
        <div class="checkout-success-title">
          <h2>Resumen de carrito</h2>
        </div>
        <div class="checkout-success-items">
          <div class="checkout-summary-item">
            <picture><img src="https://s3.amazonaws.com/llanomx.wcaas.media/1.152/1.152_1_120x120.jpg"
                alt="LOSETA MADERA DABA 20X90 IVORY 1.62 1A"></picture>
            <div><b>LOSETA MADERA DABA 20X90 IVORY 1.62 1A</b>
              <p>Cantidad: <b>1.0</b></p>
              <p>Subtotal: <b>$483.71</b></p>
            </div>
          </div>
          <div class="checkout-summary-item">
            <picture><img src="https://s3.amazonaws.com/llanomx.wcaas.media/3.1915/3.1915_1_120x120.jpg"
                alt="MANERAL C-67 CROMO"></picture>
            <div><b>MANERAL C-67 CROMO</b>
              <p>Cantidad: <b>1.0</b></p>
              <p>Subtotal: <b>$860.62</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="checkout-success-buttons"><a class="btn_home" routerLink="/home">Regresar a la tienda</a></div>
    </div>
  </div>


</main>
