<main>
    <div class="breadcrumb">
        <div class="breadcrumb-path">
            <a href="">
                <span>Tienda</span>
                <i class="material-icons">chevron_right</i>
            </a>
            <a href="">
                <span>Quienes somos</span>
    
            </a>
        </div>
        <div class="breadcrumb-espot">
            <a href="">
                <i class="material-icons">local_shipping</i>
                <span>Envío gratis desde $900 MXN en CDMX y Zona Metropolitana</span>
            </a>
        </div>
    </div>
    <div class="section-container">

        <div class="aboutContainer">
            <div class="about-page">
                <div class="about-container">
                    <div class="about-content">
                        <h2>Quienes somos</h2>
                        <p>Empresa multimarca especializada en la comercialización de pisos, azulejos, muebles para baño, llaves y accesorios; además contamos con productos complementarios de acabados para la construcción con un surtido de más de 27,000 productos diferentes.</p>
                    </div>
                    <div class="about-image">
                        <img src="https://s3.amazonaws.com/llanomx.wcaas.media/espots/footer-quienessomos/llano-qs-2.jpg" alt="Quienes somos">
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
