<main>
  <div class="breadcrumb">
    <div class="breadcrumb-path">
      <a href="">
        <span>Tienda</span>
        <i class="material-icons">chevron_right</i>
      </a>
      <a href="">
        <span>Preguntas frecuentes</span>
      </a>
    </div>
    <div class="breadcrumb-espot">
      <a href="">
        <i class="material-icons">local_shipping</i>
        <span>Envío gratis desde $900 MXN en CDMX y Zona Metropolitana</span>
      </a>
    </div>
  </div>

  <div class="sectionTitle upper">
    <h2>¡Resuelve tus dudas!</h2>
  </div>
  <h3 class="instructions">Si tienes dudas o necesitas consultar algo, puedes llamar al 55 5605 1203</h3>
  <div class="separator"></div>

  <div class="faqContainer">
    <div class="questionAnswer">
      <div class="question">
        <p>+¿Qué datos requiero para crear una cuenta?</p>
      </div>
    </div>
  </div>

  <div class="faqContainer">
    <div class="questionAnswer">
      <div class="question">
        <p>+¿Cuál es el tiempo de entrega de un pedido?</p>
      </div>
    </div>
  </div>

  <div class="faqContainer">
    <div class="questionAnswer">
      <div class="question">
        <p>+¿Cuál es el costo de envío?</p>
      </div>
    </div>
  </div>

  <div class="faqContainer">
    <div class="questionAnswer">
      <div class="question">
        <p>+¿Cómo puedo obtener envío gratis?</p>
      </div>
    </div>
  </div>

  <div class="faqContainer">
    <div class="questionAnswer">
      <div class="question">
        <p>+¿Existen Excepciones de entrega?</p>
      </div>
    </div>
  </div>

  <div class="faqContainer">
    <div class="questionAnswer">
      <div class="question">
        <p>+¿Cuáles son las formas de pago?</p>
      </div>
    </div>
  </div>

  <div class="faqContainer">
    <div class="questionAnswer">
      <div class="question">
        <p>+¿Cómo puedo saber el estatus de mi pedido?</p>
      </div>
    </div>
  </div>

  <div class="faqContainer">
    <div class="questionAnswer">
      <div class="question">
        <p>+¿Qué hago si mi producto no llega?</p>
      </div>
    </div>
  </div>

  <div class="faqContainer">
    <div class="questionAnswer">
      <div class="question">
        <p>+¿Es seguro comprar en llanodelatorre.com.mx?</p>
      </div>
    </div>
  </div>
</main>
