<main>

  <div class="breadcrumb">
    <div class="breadcrumb-path">
      <a href="">
        <span>Tienda</span>
        <i class="material-icons">chevron_right</i>
      </a>
      <a href="">
        <span>Sucursales</span>

      </a>
    </div>
    <div class="breadcrumb-espot">
      <a href="">
        <i class="material-icons">local_shipping</i>
        <span>Envío gratis desde $900 MXN en CDMX y Zona Metropolitana</span>
      </a>
    </div>
  </div>

  <div class="branches-page">
    <h3>Localiza tu sucursal</h3>
    <div class="branches-container">
      <div class="branches-list">
        <div class="branches-info">
            <h5>Sucursal Matríz</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>División del Norte 2030, Col. Portales, CDMX, C.P. 03330</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5605 1203 | 5605 3144 | 5605 1089</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:30 Sábado 9:00 a 18:00 Domingo 11:00 a 17:00</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal 2100</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>División del Norte 2100, Col. Portales, CDMX, C.P. 03330</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5605 1266 | 5605 2898 | 5605 1051</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:30 Sábado 9:00 a 18:00 Domingo 11:00 a 17:00</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Trípoli</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Trípoli 810, esq. División del Norte. Col. Portales Sur, CDMX, C.P. 03300</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5605 5060 | 5605 5667 | 5605 6227</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:30 Sábado 9:00 a 18:00 Domingo 11:00 a 17:00</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Baesa</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>División del Norte 2103, Col. Portales, CDMX, C.P. 03330</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5688 1496 | 5688 8958 | 5688 8879</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:30 Sábado 9:00 a 18:00 Domingo 11:00 a 17:00</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Tienda 12</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>División del Norte 2113, Col. Portales, CDMX, C.P. 03330</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5688 1499 | 5688 2022</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:30 Sábado 9:00 a 18:00 Domingo 11:00 a 17:00</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Plaza Llano</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>División del Norte 2125, Col. Portales, CDMX, C.P. 03310</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5601 5386</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:30 Sábado 9:00 a 17:00 Domingo 11:00 a 17:00</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Outlet Vértiz</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Vértiz 1472, Col. Portales , CDMX, C.P. 03300</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5601 8496</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:30 Sábado 9:00 a 18:00 Domingo Cerrado</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Calzada 261</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Calzada Guadalupe 261, Col. Guadalupe Tepeyac, CDMX, C.P. 07040</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5517 3857</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:00 Sábado 9:00 a 18:00 Domingo Cerrado</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Tepeyac</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Calzada Guadalupe 407, Col. Guadalupe Tepeyac , CDMX, C.P. 07040</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5537 5007</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:00 Sábado 9:00 a 18:00 Domingo Cerrado</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Pedregal</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Blvd. Adolfo Ruiz Cortines 4172, Col. Jardines del Pedregal, CDMX, C.P. 01900</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5135 3266</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:30 Sábado 9:00 a 18:00 Domingo 11:00 a 17:00</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Vallejo</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Calzada Vallejo 866, Col.Industrial Vallejo, CDMX, C.P. 02300</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5719 1818</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:30 Sábado 9:00 a 18:00 Domingo Cerrado</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Zaragoza</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Calzada Ignacio Zaragoza 1287, Col. Tepalcates, CDMX, C.P. 09210</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5763 1354</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:00 Sábado 9:00 a 17:00 Domingo 11:00 a 16:00</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Zapata</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>División del Norte 2008, Col. Portales, CDMX, C.P. 03300</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5605 3800</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:30 Sábado 9:00 a 18:00 Domingo 11:00 a 17:00</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Popocatépetl</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>División del Norte 2240, Col. Portales Sur, CDMX, C. P. 03300</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p></p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:30 Sábado 9:00 a 17:00 Domingo 11:00 a 17:00</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Portales</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Libertad 71, esquina con Fernando Montes de Oca, Colonia San Simón Ticumac, C.P. 03660</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5539 1813</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 18:00 Sábado 9:00 a 17:00 Domingo Cerrado</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Bodega Llano Neza</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Av. Adolfo López Mateos 154, Col. Metropolitana 1era Sección, Ciudad Nezahualcóyotl, C.P. 57730</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p></p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p></p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Texcoco</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Prolongación de Arteaga 3, Col. Barrio de San Pedro, Texcoco, C.P. 56150</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>595 952 3610</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:00 Sábado 9:00 a 17:00 Domingo Cerrado</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Satélite</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Blvd. Manuel Ávila Camacho 1305, Col. Fraccionamiento La Florida, C.P. 53160</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p></p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p></p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Santa Mónica</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Ex Convento de Santa Mónica 110, Col. Santa Mónica, Tlalnepantla, C.P. 54050</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5361 8448</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:00 Sábado 9:00 a 17:00 Domingo Cerrado</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Bodega Llano Tecamac</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Km. 44.5 Carretera Federal México - Pachuca, Col. Santa María Ajoloapan, Tecámac, C.P. 55750</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>596 924 5320</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p></p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Ecatepec</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Av. Vía Morelos 400, Col. Santa Clara Coatitla, Ecatepec, C.P. 55540</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>1541 0938</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:00 Sábado 9:00 a 17:00 Domingo 10:00 a 17:00</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Periférico Norte</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Blvd. Manuel Ávila Camacho 2000-A, Col. Jardines de Santa Mónica, Tlalnepantla, C.P. 54040</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5365 4367</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:00 Sábado 9:00 a 17:00 Domingo 11:00 a 16:00</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Bodega Llano Av. Central</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Avenida Carlos Hank González 202 - 204, Col. Valle de Aragón, 3ª sección, Ecatepec, C. P. 55280</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>5710 3263</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:00 Sábado 9:00 a 17:00 Domingo 11:00 a 16:00</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Bodega Llano Chicoloapan</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Carretera México - Texcoco km. 27.5, Col. Revolución, San Vicente Chicoloapan, C. P. 56370</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>1551 3796</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:00 a 19:00 Sábado 9:00 a 17:00 Domingo Cerrado</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Cuernavaca l</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Blvd. Paseo Cuauhnáhuac 1908, Fraccionamiento los Tarianes, Jiutepec, C.P. 62550</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>777 320 3000</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 8:30 a 18:30 Sábado 8:30 a 16:00 Domingo 9:00 a 16:00</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Cuernavaca ll</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Blvd. Paseo Cuauhnáhuac 904, Col. Vicente Estrada Cajigal, C.P. 62460</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>777 315 7634</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 8:30 a 18:30 Sábado 8:30 a 16:00 Domingo 9:00 a 16:00</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Cuernavaca lll</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Plutarco Elías Calles 8, Col. Club de Golf Cuernavaca, C.P. 62030 (atrás de la Mega Comercial Mexicana del
                Centro)</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>777 310 5057</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 8:30 a 18:30 Sábado 8:30 a 16:00 Domingo Cerrado</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Pachuca I</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Blvd. Felipe Ángeles 868, Col. Ampliación Santa Julia, C.P. 42080</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p>771 714 8282</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p>Lunes a Viernes 9:30 a 19:30 Sábado 9:00 a 17:00 Domingo 11:00 a 16:00</p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Pachuca II</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Carretera Ciudad Sahagún-Pachuca #1350, colonia Saucillo, Mineral de la Reforma Pachuca, Hidalgo. C.P. 42186
              </p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p></p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p></p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
          <div class="branches-info">
            <h5>Sucursal Bodega Llano Pachuca</h5>
            <div class="branches-info-item">
              <h6><i class="material-icons ">room</i><span>Dirección</span></h6>
              <p>Boulevard Felipe Angeles 1952 A, Col. Santa Julia, Pachuca de Soto. C.P. 42080</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">phone</i><span>Teléfonos</span></h6>
              <p></p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">email</i><span>Correo</span></h6>
              <p>contacto@llanodelatorre.com.mx</p>
            </div>
            <div class="branches-info-item">
              <h6><i class="material-icons ">schedule</i><span>Horarios</span></h6>
              <p></p>
            </div>
            <div class="branches-info-button"><button>Ver mapa</button></div>
          </div>
      </div>
      <div class="branches-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d733.2123442565643!2d-99.15574502580698!3d19.365054018781112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ffb70bdeea13%3A0x28101e3566eda954!2sLlano%20de%20la%20Torre%20Corporativo!5e0!3m2!1sen!2smx!4v1596847749867!5m2!1sen!2smx" title="Sucursales" frameborder="0" aria-hidden="false" tabindex="0" style="border: 0px;"></iframe>
      </div>
    </div>
  </div>



</main>

