<main>
    <div class="breadcrumb">
        <div class="breadcrumb-path">
            <a href="">
                <span>Tienda</span>
                <i class="material-icons">chevron_right</i>
            </a>
            <a routerLink="/category/pisos-y-muros">
                <span>Pisos y muros</span>
                <i class="material-icons">chevron_right</i>
            </a>
            <a routerLink="/category/adhesivo">
                <span>Pisos</span>
                <i class="material-icons">chevron_right</i>
            </a>
            <a routerLink="/category/adhesivo">
                <span>Cerámicos</span>
            </a>
        </div>
        <div class="breadcrumb-espot">
            <a href="">
                <i class="material-icons">local_shipping</i>
                <span>Envío gratis desde $900 MXN en CDMX y Zona Metropolitana</span>
            </a>
        </div>
    </div>

    <div class="product-container">
        <div class="product-images">
            <div class="row m-0 w-75">
            <div class="col-2 mt-3 p-0">
                <ul class="slick-dots" style="display: block; position: relative;">
                    <li>
                        <img src="https://s3.amazonaws.com/llanomx.wcaas.media/907.1009/907.1009_1_120x120.jpg" alt="LOSETA BOLZANO 33X33 ALPES 1.53 1A">
                    </li>
                    <li>
                        <img src="https://s3.amazonaws.com/llanomx.wcaas.media/907.1009/907.1009_2_120x120.jpg" alt="LOSETA BOLZANO 33X33 ALPES 1.53 1A">
                    </li>
                  </ul>
            </div>
            <div class="col-4">
            <div id="carouselPromos" class="carousel slide carousel-promo" style="width: 598px;" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="15000">
                    <div class="row efect-promo">
                    <div class="col">
                          <img class="img-product" src="https://s3.amazonaws.com/llanomx.wcaas.media/907.1009/907.1009_1_1000x1000.jpg" width="598px">
                    </div>
                  </div>
                  </div>
        
                  <div class="carousel-item" data-bs-interval="15000">
                    <div class="row efect-promo">
                    <div class="col">
                            <img class="img-product" src="https://s3.amazonaws.com/llanomx.wcaas.media/907.1009/907.1009_2_1000x1000.jpg" alt="JUEGO DE MANERALES T6193BL SAL- P/LAV. NEGRO MATTE  ">
                    </div>
                  </div>
                  </div>
                </div>
        
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselPromos"  data-bs-slide="prev">
                  <span class="material-icons ico-left" aria-hidden="true">chevron_left</span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselPromos"  data-bs-slide="next">
                  <span class="material-icons ico-right" aria-hidden="true">chevron_right</span>
                  <span class="visually-hidden">Next</span>
                </button>
        
              </div>
            </div>
        </div>
        </div>
        <div class="col-12 product-info">
            <h2>LOSETA BOLZANO 33X33 ALPES 1.53 1A</h2>
            <div class="product-info-price product-info-price-desktop">
                <div class="product-info-price-desktop-container">
                    <div>
                        <p>$132.01</p>
                    </div>
                </div>
                <div class="product-favorite product-favorite-guest">
                    <a href="">
                        <span>Agregar a favoritos</span>
                        <i class="material-icons">favorite-border</i>
                    </a>
                    <div>
                        <span></span>
                        <p>Regístrate para crear tu lista de favoritos</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="product-options product-options-text">
                    <div>
                        <label>
                            <input type="radio" name="def-capacidad-tamano" checked="">
                            <span>33 X 33 cm</span>
                        </label>
                    </div>
                </div>
                <div class="product-options product-options-text">
                    <p>Color: Alpes</p>
                    <div class="product-options-color-sample bg-alpes">
                        
                    </div>
                </div>
            </div>
            <div class="product-add-to-cart">
                <div class="product-add-to-cart-combo">
                    <button>
                        <i class="material-icons">remove</i>
                    </button>
                    <p>1</p>
                    <button>
                        <i class="material-icons">add</i>
                    </button>
                </div>

                <div class="product-add-to-cart-button">
                    <button>Agregar al carrito</button>
                </div>
            </div>
            <div class="product-calculator">
                <header class="product-calculator-header">
                    <h4>¿Cuantas cajas necesito comprar?</h4>
                    <p>Ingresa la cantidad de metros cuadrados (m2) de tu espacio.</p>
                </header>
                <form class="product-calculator-form">
                    <label >
                        <input type="text" placeholder="Metros cuadrados">
                    </label>
                    <div>
                        <button>Calcular</button>
                    </div>
                </form>
            </div>
            <div class="product-calculator-copy">
                <p>* Se recomienda anexar 10 % mas de m2 de piso a instalar por el tema de cortes que se requieran junto a los muros o puertas.</p>
                <p>* Este cálculo no incluye lo requerido para el zoclo.</p>
            </div>
            <div class="product-social">
                <p>Compartir</p>
                <button aria-label="whatsapp" style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;">
                    <img src="assets/img/share-whatsapp.svg" alt="Whatsapp">
                </button>
                <button aria-label="facebookmessenger" style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;">
                    <img src="assets/img/share-messenger.svg" alt="Messenger">
                </button>
                <button aria-label="telegram" style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;">
                    <img src="assets/img/share-telegram.svg" alt="Telegram">
                </button>
                <button aria-label="facebook" style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;">
                    <img src="assets/img/share-facebook.svg" alt="facebook">
                </button>
                <button aria-label="twitter" style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;">
                    <img src="assets/img/share-twitter.svg" alt="Twitter" via="@llanodelatorre">
                </button>
            </div>
        </div>
        <div class="product-specs">
            <div class="product-specs-title">
                <h3>Especificaciones</h3>
            </div>
            <div class="product-specs-description">
                <p>Diseños con macado carácter industrial de clara inspiración minimalista, buscan transporte hacia nueva dimensión más actual y atractiva</p>
            </div>
            <div class="product-specs-attributes">
                <div>
                    <p>Absorcion humedad</p>
                    <p>3% a 6%</p>
                </div>
                <div>
                    <p>Adhesivo sugerido</p><p>Adhesivo Blanco</p>
                </div>
                <div>
                    <p>Area de uso</p><p>Interior, exterior, baño, cocina, comercial</p>
                </div>
                <div>
                    <p>Categoria</p><p>Pisos y muros/Pisos/Cerámicos</p>
                </div>
                <div>
                    <p>Clave</p><p>907.1009</p>
                </div>
                <div>
                    <p>Diseño</p><p>Cemento</p>
                </div>
                <div>
                    <p>Esfumado</p><p>Medio</p>
                </div>
                <div>
                    <p>Formato</p><p>33 X 33 cm</p>
                </div>
                <div>
                    <p>Full definition</p><p>SI</p>
                </div>
                <div>
                    <p>Grado tono</p><p>Medio</p>
                </div>
                <div>
                    <p>Metros por caja</p><p>1.53 m²</p>
                </div>
                <div>
                    <p>Modelo</p><p>Bolzano</p>
                </div>
                <div>
                    <p>Opcional 5</p><p>LOSETA BOLZANO 33X33 ALPES 1.53 1A,Porcelanite</p>
                </div>
                <div>
                    <p>Opcional 6</p><p>LOSETA BOLZANO 33X33 ALPES 1.53 1A,Diseños con macado carácter industrial de clara inspiración minimalista, buscan transporte hacia nueva dimensión más actual y atractiva</p>
                </div>
                <div>
                    <p>Pei</p><p>IV</p>
                </div>
                <div>
                    <p>Peso</p><p>22.323 kg</p>
                </div>
                <div>
                    <p>Proveedor</p><p>Porcelanite</p>
                </div>
                <div>
                    <p>Resistencia presion</p><p>&gt;= 250kg/cm²</p>
                </div>
                <div>
                    <p>Resistencia temperaturas</p><p>Resistente</p>
                </div>
                <div>
                    <p>Tecnologia</p><p>Full Definition</p>
                </div>
                <div>
                    <p>Tipo de uso</p><p>Residencial, comercial</p>
                </div>
                <div>
                    <p>Tipo formato</p><p>Estándar</p>
                </div>
                <div>
                    <p>Tipo piso</p><p>Cerámico</p>
                </div>
                <div>
                    <p>Type</p><p>Recubrimiento</p>
                </div>
                <div>
                    <p>Uso</p><p>Piso/Muro</p>
                </div>
            </div>
        </div>
    </div>
    
      <!-- promos 2 -->
      <div id="carouselPromoss" class="carousel slide carousel-promo" data-bs-ride="carousel">
        <div class="carousel-inner-acomodado-p-dos">

          <div class="carousel-item active" data-bs-interval="15000">
            <div class="row efect-promo">

                <div class="col-3">
                    <div class="card">
                      <a href="">
                        <img src="https://s3.amazonaws.com/llanomx.wcaas.media/1.152/1.152_1_400x400.jpg" class="card-img-top" alt="LOSETA MADERA DABA 20X90 IVORY 1.62 1A">
                      </a>
                      <div class="card-body">
                        <b class="card-title">$483.71</b>
                        <p class="card-text">LOSETA MADERA DABA 20X90 IVORY 1.62 1A</p>
                      </div>
                    </div>
                </div>
                <div class="col-3">
                  <div class="card">
                    <a href="">
                        <img src="https://s3.amazonaws.com/llanomx.wcaas.media/1.188/1.188_1_400x400.jpg" class="card-img-top" alt="LOSETA PIEDRA MOLINA FD 60X60 BEIGE 1.44 1A">
                    </a>
                    <div class="card-body">
                      <b class="card-title">$337.49</b>
                      <p class="card-text">LOSETA PIEDRA MOLINA FD 60X60 BEIGE 1.44 1A</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card">
                    <a href="">
                        <img src="https://s3.amazonaws.com/llanomx.wcaas.media/1.2134/1.2134_1_400x400.jpg" class="card-img-top" alt="LOSETA SENOIA FD 55X55 GRIS 1.49 1A">
                    </a>
                    <div class="card-body">
                      <b class="card-title">$301.38</b>
                      <p class="card-text">LOSETA SENOIA FD 55X55 GRIS 1.49 1A</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card">
                    <a href="">
                        <img src="https://s3.amazonaws.com/llanomx.wcaas.media/1.242/1.242_1_400x400.jpg" class="card-img-top" alt="LOSETA AMUR FD 40X40 BEIGE 1.44 1A">
                    </a>
                    <div class="card-body">
                      <b class="card-title">$771.38</b>
                      <p class="card-text">LOSETA AMUR FD 40X40 BEIGE 1.44 1A</p>
                    </div>
                  </div>
                </div>

          </div>
          </div>

          <div class="carousel-item" data-bs-interval="15000">
            <div class="row efect-promo">

              <div class="col-3">
                <div class="card">
                  <a href="">
                    <img src="https://s3.amazonaws.com/llanomx.wcaas.media/1.243/1.243_1_400x400.jpg" class="card-img-top" alt="LOSETA AMUR FD 40X40 GRIS 1.44 1A">
                  </a>
                  <div class="card-body">
                    <b class="card-title">$430.71</b>
                    <p class="card-text">LOSETA AMUR FD 40X40 GRIS 1.44 1A</p>
                  </div>
                </div>
            </div>
            <div class="col-3">
              <div class="card">
                <a href="">
                    <img src="https://s3.amazonaws.com/llanomx.wcaas.media/1.188/1.188_1_400x400.jpg" class="card-img-top" alt="LOSETA PIEDRA MOLINA FD 60X60 BEIGE 1.44 1A">
                </a>
                <div class="card-body">
                  <b class="card-title">$337.49</b>
                  <p class="card-text">LOSETA PIEDRA MOLINA FD 60X60 BEIGE 1.44 1A</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card">
                <a href="">
                    <img src="https://s3.amazonaws.com/llanomx.wcaas.media/1.2134/1.2134_1_400x400.jpg" class="card-img-top" alt="LOSETA SENOIA FD 55X55 GRIS 1.49 1A">
                </a>
                <div class="card-body">
                  <b class="card-title">$301.38</b>
                  <p class="card-text">LOSETA SENOIA FD 55X55 GRIS 1.49 1A</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card">
                <a href="">
                    <img src="https://s3.amazonaws.com/llanomx.wcaas.media/1.242/1.242_1_400x400.jpg" class="card-img-top" alt="LOSETA AMUR FD 40X40 BEIGE 1.44 1A">
                </a>
                <div class="card-body">
                  <b class="card-title">$771.38</b>
                  <p class="card-text">LOSETA AMUR FD 40X40 BEIGE 1.44 1A</p>
                </div>
              </div>
            </div>

          </div>
          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPromoss"  data-bs-slide="prev">
          <span class="material-icons ico-left" aria-hidden="true">chevron_left</span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselPromoss"  data-bs-slide="next">
          <span class="material-icons ico-right" aria-hidden="true">chevron_right</span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
     
      
</main>
