<app-navbar></app-navbar>
<main>
  <div class="breadcrumb">
    <div class="breadcrumb-path">
      <a routerLink="/home">
        <span>Tienda</span>
        <i class="material-icons">chevron_right</i>
      </a>
      <a routerLink="/dashboard">
        <span>Mis favoritos</span>
      </a>
    </div>
    <div class="breadcrumb-espot">
      <a routerLink="/envios">
        <i class="material-icons">local_shipping</i>
        <span>Envío gratis desde $900 MXN en CDMX y Zona Metropolitana</span>
      </a>
    </div>
  </div>

  <div class="wishlist-empty">
    <div><i class="material-icons ">
        favorite_border</i>
      <p>Aún no has agregado ningún producto a tus Favoritos</p>
    </div>
  </div>
</main>
<app-footer></app-footer>
