<app-navbar></app-navbar>
<main>
    <div class="breadcrumb">
        <div class="breadcrumb-path">
            <a href="">
                <span>Tienda</span>
                <i class="material-icons">chevron_right</i>
            </a>
            <a href="">
                <span>Carrito</span>

            </a>
        </div>
        <div class="breadcrumb-espot">
            <a href="">
                <i class="material-icons">local_shipping</i>
                <span>Envío gratis desde $900 MXN en CDMX y Zona Metropolitana</span>
            </a>
        </div>
    </div>
    <div class="cart-container">
        <div class="cart-empty">    
            <div>
                <i class="material-icons-outlined ">add_shopping_cart</i>
                <p>Aún no tienes productos en tu carrito</p>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>


